
  <div class="container">

    <section class="auth-container">
      <h2>TEAM AUTHENTICATION</h2>
      <div class="form-group">
        <label for="teamName">TEAM CODENAME:</label>
        <input type="text" id="teamName" placeholder="Enter your team codename" />
      </div>
      <div class="form-group">
        <label for="teamLevel">ACADEMIC LEVEL:</label>
        <select id="teamLevel">
          <option value="UG1">UG1 - 100 Level</option>
          <option value="UG2">UG2 - 200 Level</option>
          <option value="UG3">UG3 - 300 Level</option>
          <option value="UG4">UG4 - 400 Level</option>
        </select>
      </div>
      <div class="form-group">
        <label for="teamPassword">ACCESS CODE:</label>
        <input type="password" id="teamPassword" placeholder="Enter your access code" />
      </div>
      <button class="btn btn-auth" id="loginBtn">AUTHENTICATE</button>
    </section>
  </div>
